*{
    margin: 0;
    padding: 0;
}

.sketchPad{
    border: 1px solid black;
    width: 500px;
    height: 500px;
    display: grid;
}

.sketchPad:hover,
.black:hover,
.rainbow:hover,
.erase:hover,
.clear:hover{
    cursor: pointer;
}


.sketchPadContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}