*{
    margin: 0;
    padding: 0;
    display: flex;
}

.sketchPad{
    border: 1px solid black;
    width: 500px;
    height: 500px;
    display: grid;
}

.sketchPadContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}